@media screen and (max-width: 1200px) {
    .running{
        background-position: right -80px bottom;
    }

    .wrapper1180{
        padding: 0 20px;
    }

    .wrapper984{
        padding: 0 20px;
    }

    .we-partner-with-the-best-img{
        padding: 0;
    }
}

@media screen and (max-width: 1056px) {
    .running{
        background-position: right -180px bottom;
    }
    .its-easy-article article:nth-child(2)::after{
        content: url("../images/easy1.svg");
        display: block;
        position: absolute;
        top: 110px;
        right: 0;
        transform: rotate(150deg);
    }
    .employees-come-in-all-shapes-and-sizes{
        background-size: contain;
    }
    .get-started-with-clerksy{
        background-color: #163A24;
        padding: 114px 0px 124px 0px;
        background-image: url("../images/started.png");
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: contain;
    }
}


@media screen and (max-width: 796px) {
    .running{
        background-image: none;
    }

    .its-easy-article article:nth-child(1){
        margin-bottom: 30px;
    }

    .its-easy-article article:nth-child(1)::after{
        content: url("../images/easy1.svg");
        display: block;
        position: absolute;
        top: 110px;
        right: 120px;
        transform: rotate(150deg);
    }

    .its-easy-article article:nth-child(2)::after{
        content: url("../images/easy1.svg");
        display: block;
        position: absolute;
        top: 30%;
        right: -100px;
        transform: rotate(0deg);
    }
    .put-the-human-back-in-hr .wrapper984 .container-flex-space-between-row-center p {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 695px) {
    .running{
        background-image: none;
    }

    .its-easy-article{
        flex-direction: column;

    }

    .its-easy-article article:nth-child(1){
        margin-bottom: 80px;
        margin-right: 0;
    }

    .its-easy-article article:nth-child(2){
        margin-bottom: 80px;
        margin-right: 0;
    }

    .its-easy-article article:nth-child(1)::after{
        content: url("../images/easy1.svg");
        display: block;
        position: absolute;
        top: 120px;
        right: 120px;
        transform: rotate(90deg);
    }

    .its-easy-article article:nth-child(2)::after{
        content: url("../images/easy1.svg");
        display: block;
        position: absolute;
        top: 120px;
        right: 120px;
        transform: rotate(90deg);
    }
}

@media screen and (max-width: 650px) {
    .hr-production-of-the-highest-quality-img{
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .owl-stage{
        width: 650px;
    }
}

@media screen and (max-width: 506px) {
    .png{
        height: 100%;
        width: 100%;
    }
    .owl-stage{
        width: 506px;
    }
}

@media screen and (max-width: 442px) {
    .employees-come-in-all-shapes-and-sizes{
        background-image: none;
        min-height: 0;
        padding: 20px;
    }
    .how-the-scenes-fit-together{
        padding: 20px;
    }
}
