@media screen and (max-width: 1200px) {
    .section1{
        background-position: right -80px bottom;
    }

    .wrapper1180{
        padding: 0 20px;
    }

    .wrapper984{
        padding: 0 20px;
    }

    .section4-img{
        padding: 0;
    }
}

@media screen and (max-width: 1056px) {
    .section1{
        background-position: right -180px bottom;
    }
    .section9-article article:nth-child(2)::after{
        content: url("../images/easy1.svg");
        display: block;
        position: absolute;
        top: 110px;
        right: 0;
        transform: rotate(150deg);
    }
    .section6{
        background-size: contain;
    }
    .section11{
        background-color: #163A24;
        padding: 114px 0px 124px 0px;
        background-image: url("../images/started.png");
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: contain;
    }
}


@media screen and (max-width: 796px) {
    .section1{
        background-image: none;
    }

    .section9-article article:nth-child(1){
        margin-bottom: 30px;
    }

    .section9-article article:nth-child(1)::after{
        content: url("../images/easy1.svg");
        display: block;
        position: absolute;
        top: 110px;
        right: 120px;
        transform: rotate(150deg);
    }

    .section9-article article:nth-child(2)::after{
        content: url("../images/easy1.svg");
        display: block;
        position: absolute;
        top: 30%;
        right: -100px;
        transform: rotate(0deg);
    }
    .section2 .wrapper984 .container-flex-space-between-row-center p {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 695px) {
    .section11{
        background-image: none;
    }

    .section9-article{
        flex-direction: column;

    }

    .section9-article article:nth-child(1){
        margin-bottom: 80px;
        margin-right: 0;
    }

    .section9-article article:nth-child(2){
        margin-bottom: 80px;
        margin-right: 0;
    }

    .section9-article article:nth-child(1)::after{
        content: url("../images/easy1.svg");
        display: block;
        position: absolute;
        top: 120px;
        right: 120px;
        transform: rotate(90deg);
    }

    .section9-article article:nth-child(2)::after{
        content: url("../images/easy1.svg");
        display: block;
        position: absolute;
        top: 120px;
        right: 120px;
        transform: rotate(90deg);
    }
}

@media screen and (max-width: 650px) {
    .section5-img{
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

@media screen and (max-width: 506px) {
    .png{
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 442px) {
    .section6{
        background-image: none;
        min-height: 0;
        padding: 20px;
    }
    .section7{
        padding: 20px;
    }
}
