@font-face {
    font-family: 'noto_sansregular';
    src: url('../fonts/notosans-regular-webfont.eot');
    src: url('../fonts/notosans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/notosans-regular-webfont.woff2') format('woff2'),
    url('../fonts/notosans-regular-webfont.woff') format('woff'),
    url('../fonts/notosans-regular-webfont.ttf') format('truetype'),
    url('../fonts/notosans-regular-webfont.svg#noto_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'recoletasemibold';
    src: url('../fonts/recoleta-semibold-webfont.eot');
    src: url('../fonts/recoleta-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/recoleta-semibold-webfont.woff2') format('woff2'),
    url('../fonts/recoleta-semibold-webfont.woff') format('woff'),
    url('../fonts/recoleta-semibold-webfont.ttf') format('truetype'),
    url('../fonts/recoleta-semibold-webfont.svg#recoletasemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper1180{
    max-width: 1180px;
    margin: auto;
}

.wrapper984{
    max-width: 984px;
    margin: auto;
}

header{
    background: #163A24;
}

header .wrapper1180{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

header .wrapper1180 nav{
    max-width: 590px;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

header nav ul li{
    margin-left: 24px;
    padding: 15px 0px;
}

header nav ul li:last-of-type {
    border-radius: 160px;
    background: #198C36;
    padding: 15px 25px;
}

header nav ul li a{
    color: #FBFAF7;
    text-align: right;
    font-family: 'noto_sansregular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.tagline{
    background-color: #163A24;
    padding: 120px 0px 129px 0px;
    background-image: url("../images/bg-tagline.png");
    background-repeat: no-repeat;
    /* background-position: bottom 0px right 80px; */
    background-position: right 80px bottom;   
}

.tagline .wrapper1180 h1{
    color: #FBFAF7;
    font-family: 'recoletasemibold';
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 65.25px; /* 135.938% */
    max-width: 391px;
    margin-bottom: 18px;
}

.tagline p{
    color: #FBFAF7;
    font-family: 'noto_sansregular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
    max-width: 475px;
}

.backinhr{
    padding-top: 120px;
}

.sc1{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    max-width: 984px;
}

.sc1 h2{
    color: #163A24;
    font-family: 'recoletasemibold';
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px; /* 112.5% */
    max-width: 325px;
    margin-bottom: 27px;
}

.sc1 p{
    color: #163A24;
    font-family: 'noto_sansregular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
    max-width: 374px;
}

.sc2{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.sc2 h2{
    color: #163A24;
    font-family: 'recoletasemibold';
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px; /* 112.5% */
    max-width: 376px;
    margin-bottom: 27px;
}

.sc2 p{
    color: #163A24;
    font-family: 'noto_sansregular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
    max-width: 380px;
}

.partner{
    padding: 120px 0px;
}

.partner .wrapper1180 h2{
    color: #163A24;
    text-align: center;
    font-family: 'recoletasemibold';
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px; /* 112.5% */
    margin-bottom: 66px;
    
}

.partner-img{
    max-width: 1019px;
    margin: auto;
    padding: 0px 43px;
}

.partner-img a:not(:last-child) {
    margin-right: 86px;
}

.partner .wrapper1180 a img{
    vertical-align: middle;
}

.production{
    padding: 66px 0 120px;
    background: #163A24;
}

.production .wrapper1180 h2{
    color: #FBFAF7;
    text-align: center;
    font-family: 'recoletasemibold';
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px; /* 112.5% */
    margin-bottom: 74px;
}

.production-img{
    margin: auto;
}

.production-img article{
    display:inline-block;
    text-align: center;
    padding-bottom: 18px;
}

.production-img article .svg{
    padding: 0 98px;
    margin-bottom: 28px;
}

.production-img article p{
    color: #FBFAF7;
    text-align: center;
    font-family: 'noto_sansregular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
}

.casting{
    padding: 120px 0;
    min-height: 775px;
    background: #F2EFE6;
    background-image: url("../images/bg-casting.png");
    background-repeat: no-repeat;
    background-position: 50% 70%;
}

.casting .wrapper1180 h2{
    color: #163A24;
    text-align: center;
    font-family: 'recoletasemibold';
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px; /* 112.5% */
    max-width: 739px;
    margin: auto;
    margin-bottom: 27px;
}

.casting .wrapper1180 p{
    color: #163A24;
    text-align: center;
    font-family: 'noto_sansregular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
    max-width: 760px;
    margin: auto;
}

.together{
    padding: 180px 0 114px 0;
}

.sc-together{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    max-width: 984px;
}

.sc-together h2{
    color: #163A24;
    font-family: 'recoletasemibold';
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px; /* 112.5% */
    max-width: 338px;
    margin-bottom: 27px;
}

.sc-together p{
    color: #163A24;
    font-family: 'noto_sansregular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
    max-width: 379px;
}

.resource{
    padding: 123px 0;
}

.sc-resource{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    max-width: 984px;
}

.sc-resource h2{
    color: #163A24;
    font-family: 'recoletasemibold';
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px; /* 112.5% */
    max-width: 360px;
    margin-bottom: 25px;
}

.sc-resource p{
    color: #163A24;
    font-family: 'noto_sansregular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
    max-width: 287px;
    margin-bottom: 19px;
}

.sc-resource a{
    border-radius: 160px;
    background: #198C36;
    padding: 15px 25px;
    color: #FBFAF7;
    font-family: 'noto_sansregular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

