@font-face {
    font-family: 'noto_sansregular';
    src: url('../fonts/notosans-regular-webfont.eot');
    src: url('../fonts/notosans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/notosans-regular-webfont.woff2') format('woff2'),
    url('../fonts/notosans-regular-webfont.woff') format('woff'),
    url('../fonts/notosans-regular-webfont.ttf') format('truetype'),
    url('../fonts/notosans-regular-webfont.svg#noto_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'recoletasemibold';
    src: url('../fonts/recoleta-semibold-webfont.eot');
    src: url('../fonts/recoleta-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/recoleta-semibold-webfont.woff2') format('woff2'),
    url('../fonts/recoleta-semibold-webfont.woff') format('woff'),
    url('../fonts/recoleta-semibold-webfont.ttf') format('truetype'),
    url('../fonts/recoleta-semibold-webfont.svg#recoletasemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper1180{
    max-width: 1180px;
    margin: auto;
}

.wrapper984{
    max-width: 984px;
    margin: auto;
}

header{
    background: #163A24;
}

header .wrapper1180{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

header .wrapper1180 nav{
    max-width: 590px;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

header nav ul li{
    margin-left: 24px;
    padding: 15px 0px;
}

header nav ul li:last-of-type {
    border-radius: 160px;
    background: #198C36;
    padding: 15px 25px;
}

header nav ul li a{
    color: #FBFAF7;
    text-align: right;
    font-family: 'noto_sansregular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.section1{
    background-color: #163A24;
    padding: 120px 0px 129px 0px;
    background-image: url("../images/bg-tagline.png");
    background-repeat: no-repeat;
    background-position: right 80px bottom;
}

.section1 .wrapper1180 h1{
    color: #FBFAF7;
    font-family: 'recoletasemibold';
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 65.25px; /* 135.938% */
    max-width: 391px;
    margin-bottom: 18px;
}

.section1 p{
    color: #FBFAF7;
    font-family: 'noto_sansregular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
    max-width: 475px;
}

.section2{
    padding-top: 120px;
}

.container-flex-space-between-row-center{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.section2 .wrapper984 .container-flex-space-between-row-center{
    max-width: 984px;
}

.h2-recoleta-fs48{
    color: #163A24;
    font-family: 'recoletasemibold';
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px; /* 112.5% */
}

.h2-recoleta-fs48-tacenter{
    color: #163A24;
    text-align: center;
    font-family: 'recoletasemibold';
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px; /* 112.5% */
}

.h2-recoleta-fs48-tacenter-cl-white{
    color: #FBFAF7;
    text-align: center;
    font-family: 'recoletasemibold';
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px; /* 112.5% */
}

.p-noto-sans-fs18{
    color: #163A24;
    font-family: 'noto_sansregular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
}

.p-noto-sans-fs18-cl-white{
    color: #FBFAF7;
    text-align: center;
    font-family: 'noto_sansregular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
}

.p-noto-sans-fs18-tacenter-cl-green{
    color: #163A24;
    text-align: center;
    font-family: 'noto_sansregular';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
}

.section2 .wrapper984 .container-flex-space-between-row-center h2{
    max-width: 325px;
    margin-bottom: 27px;
}

.section2 .wrapper984 .container-flex-space-between-row-center p{
    max-width: 374px;
}

.section3 .wrapper984 .container-flex-space-between-row-center h2{
    max-width: 376px;
    margin-bottom: 27px;
}

.section3 .wrapper984 .container-flex-space-between-row-center p{
    max-width: 380px;
}

.section4{
    padding: 120px 0px;
}

.section4 .wrapper1180 .h2-recoleta-fs48-tacenter{
    margin-bottom: 66px;
}

.section4-img{
    max-width: 1019px;
    margin: auto;
    padding: 0px 43px;
}

.section4-img a:not(:last-child) {
    margin-right: 86px;
}

.section4 .wrapper1180 a img{
    vertical-align: middle;
}

.section5{
    padding: 66px 0 120px;
    background: #163A24;
}

.section5 .wrapper1180 .h2-recoleta-fs48-tacenter-cl-white{
    margin-bottom: 74px;
}

.section5-img{
    margin: auto;
}

.section5-img article{
    display:inline-block;
    text-align: center;
    padding-bottom: 18px;
}

.section5-img article .svg{
    padding: 0 98px;
    margin-bottom: 28px;
}

.section6{
    padding: 120px 0;
    min-height: 775px;
    background: #F2EFE6;
    background-image: url("../images/bg-casting.png");
    background-repeat: no-repeat;
    background-position: 50% 70%;
}

.section6 .wrapper1180 h2{
    max-width: 739px;
    margin: auto;
    margin-bottom: 27px;
}

.section6 .wrapper1180 p{
    max-width: 760px;
    margin: auto;
}

.section7{
    padding: 180px 0 114px 0;
}

.section7 .wrapper984 .container-flex-space-between-row-center{
    max-width: 984px;
}

.section7 .wrapper984 .container-flex-space-between-row-center h2{
    max-width: 338px;
    margin-bottom: 27px;
}

.section7 .wrapper984 .container-flex-space-between-row-centerp{
    max-width: 379px;
}

.section8{
    padding-bottom: 120px;
}

.section8 h2{
    margin-bottom: 26px;
}

.section8 p{
    margin-bottom: 18px;
}

.section8-article{
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center; /* Вирівнюємо елементи по горизонталі по центру */
    gap: 40px;
    align-items: flex-start;
}

.section8-article article{
    text-align: left;
    padding-bottom: 18px;
    background: #FBFAF7;
    border-radius: 15px;
    box-shadow: 5px 5px 20px 0px #E9E4D5;
    padding: 50px 40px 66px 40px;
    max-width: 353px;
}

.section8-article article .svg{
    margin-bottom: 20px;
}

.section8-article article h3{
    color: #163A24;
    font-family: 'recoletasemibold';
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 31.5px; /* 112.5% */
    margin-bottom: 23px;
}

.section8-article article ul{
    list-style-image: url("../images/consider-article-list-style-image.svg");
    padding-left: 25px;
}

.section8-article article li{
    color: #163A24;
    font-family: 'noto_sansregular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 15px;
}

.section9{
    padding: 114px 0 124px 0;
    background: #F2EFE6;
}

.section9 .wrapper1180 h2{
    color: #163A24;
    text-align: center;
    font-family: 'recoletasemibold';
    font-size: 47px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px; /* 114.894% */
    margin-bottom: 26px;
}

.section9 .wrapper1180 p{
    margin-bottom: 18px;
}

.section9-article{
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center; /* Вирівнюємо елементи по горизонталі по центру */
    align-items: center;
    padding: 19px 0 23px 0;

}

.section9-article article{
    max-width: 260px;
    position: relative;
}

.section9-article p{
    margin-bottom: 13px;
}

.section9-article h3{
    color: #163A24;
    text-align: center;
    font-family: 'recoletasemibold';
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 31.5px; /* 112.5% */
}

.section9-article article:nth-child(1)::after,
.section9-article article:nth-child(2)::after{
    content: url("../images/easy1.svg");
    display: block;
    position: absolute;
    top: 30%;
    right: -100px;
}

.section9-article article:nth-child(1),
.section9-article article:nth-child(2){
    margin-right: 131px;
}

.section10{
    padding: 123px 0;
}

.section10 .wrapper984 .container-flex-space-between-row-center{
    max-width: 984px;
}

.section10 .wrapper984 .container-flex-space-between-row-center h2{
    max-width: 360px;
    margin-bottom: 25px;
}

.section10 .wrapper984 .container-flex-space-between-row-center p{
    max-width: 287px;
    margin-bottom: 19px;
}

.section10-bt{
    display: flex;
    justify-content: left; /* Вирівнюємо елементи по горизонталі по центру */
    align-items: center;
}

.section10 .wrapper984 .container-flex-space-between-row-center a{
    border-radius: 160px;
    background: #198C36;
    padding: 15px 25px;
    color: #FBFAF7;
    font-family: 'noto_sansregular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.section11{
    background-color: #163A24;
    padding: 114px 0px 124px 0px;
    background-image: url("../images/started.png");
    background-repeat: no-repeat;
    background-position: center bottom;
}

.section11 h2{
    margin-bottom: 26px;
}

.section11 .p-noto-sans-fs18-cl-white{
    margin-bottom: 18px;
}

.section11-bt{
    display: flex;
    justify-content: center; /* Вирівнюємо елементи по горизонталі по центру */
    align-items: center;
}

.section11 .wrapper1180 a{
    color: #163A24;
    text-align: center;
    font-family: 'noto_sansregular';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 160px;
    background: #FAB5A0;
    padding: 15px 25px;
    text-decoration: none;
    text-align: center;
}
